body {
    background: #fff url('../../static/images/background2upd2.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.wrappers {
    height: 800px;
    width: 600px;
    margin: 20px;
    padding-top: 20px;
}

.input-box {
    width: 70%;
}

#url {
    width: 40%;
}

.file-add {
    width: 100%;
    background: transparent;
    margin: 0 auto;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
}

.file-add ol {
    padding-left: 0;
}

.file-add li, div > p {
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.file-add img {
    height: 64px;
    order: 1;
}

.file-add p {
    line-height: 32px;
    padding-left: 10px;
}

.file-add label {
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 5px;
    height: auto;
    cursor: pointer;
    position: relative;
}

.file-add label::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.file-add label:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.file-add input {
    display: none;
}

.upload {
    margin-bottom: 20px;
}

.remember-forgot {
    margin-top: 20px;
    font-size: 1.2em;
}

.remember-forgot label {
    margin-left: 5px;
}


.remember-forgot label input.checkb {
    width: 1.1em;
    height: 1.1em;
    margin-right: 10px;
}

.button-cont {
    margin-top: 20px;
}

.btn {
    width: 42%;
}
